# Miscellaneous
*.log
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.dart_tool/
build/
*.metadata
*.lock

# IDE files
.idea/
.vscode/
*.iml
*.hprof
*.pid

# iOS
ios/Pods/
ios/Podfile.lock
ios/.symlinks/
ios/Flutter/
ios/Runner.xcworkspace/

# Android
android/.gradle/
android/local.properties
android/app/build/
.gradle/

# macOS
macos/Pods/
macos/Podfile.lock
macos/.symlinks/
macos/Flutter/
macos/Runner.xcworkspace/

# Linux
linux/.config/
linux/flutter/
linux/.symlinks/

# Windows
windows/flutter/
windows/.symlinks/
windows/runner/Debug/
windows/runner/Profile/
windows/runner/Release/